<h2>ユーザー設定編集</h2>
<div class="container mt-3">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages" , resource: resource %>

  <div class="form-group mr-3">
    <div class="field">
      <%= f.label "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %>
    </div>
    <% end %>

    <div class="field">
      <%= f.label "新しいパスワード" %> <i>(パスワードを変えたくない場合は空にしてください)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "新しいパスワード（6文字以上）" %>
      <% if @minimum_password_length %>
      <br />
      <em>
        <%= @minimum_password_length %>文字以上にしてください
      </em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label "新しいパスワードを確認" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "新しいパスワードを再入力" %>
    </div>

    <div class="field">
      <%= f.label "現在のパスワード" %><br />
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "現在のパスワード" %>
    </div>

    <div class="actions">
      <%= f.submit "パスワード更新" %>
    </div>
  </div>
  <% end %>
</div>
<h3>アカウントの削除</h3>

<p>
  <%= button_to "削除" , registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
</p>

<%= link_to "Back" , :back %>
