<% if user_signed_in? %>
  <%== pagy_bootstrap_nav(@pagy) %>
  <% @posts.each do |post|  %>
    <div class="col-md-8 col-md-2 mx-auto">
      <div class="card-wrap">
        <div class="card">
          <div class="card-header align-items-center">
            <%= image_tag post.image.url(:medium), class: "card-img-top" %>
            <div class="mt-1">
              <% if post.user == current_user %>
                <%= link_to '削除する', post, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
              <% end %>
              <!--TODO 後でrenderにしたい-->
              <% if current_user != post.user %>
                <% if post.user.followed_by?(current_user) %>
                  <p><%= link_to "フォロー解除", user_follows_path(post.user.id), method: :delete, class: 'btn btn-danger' %></p>
                <% else %>
                  <!--TODO フォローしたユーザーの画面に遷移させるにはどうする？-->
                  <p><%= link_to "フォローする", user_follows_path(post.user.id), method: :post, class: 'btn btn-primary' %></p>
                <% end %>
              <% end %>
              <%= render 'likes/favorite_button', post: post %>
            </div>
          </div>

          <div class="card-body">
            <div class="row parts">
              <%= link_to "", "#", class: "comment" %>
            </div>
            <div>
              <span><strong><%= link_to post.user.name, post.user %></strong></span>
              <p class="mb-0"><%= post.caption %></p>
              <%= time_ago_in_words(post.created_at).upcase + "前" %>
              <hr>
              <h3>コメント</h3>
              <% post.comments.each do |comment| %>
                <!-- TODO styling -->
                user_id: <%= comment.user_id %>,
                post_id: <%= comment.post_id %>,
                user_email: <%= post.user.email %>
                <p><%= comment.comment %></p>
                <% if comment.user_id == current_user.id %>
                  <%= link_to '削除する', comment, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
                  <br />
                <% end %>
              <% end %>
              <hr>
              <div class="row parts">
                <%= form_with model: post.comments.build, class: "d-inline" do |f| %>
                  <div>
                    <%= f.hidden_field :post_id %>
                    <%= f.hidden_field :user_id %>
                    <%= f.text_area :comment, class: "form-control comment-input border-0", placeholder: "コメント", rows: "1" %>
                    <%= f.submit 'コメント' , class: 'btn btn-primary' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="bg-secondary p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-white">
      <h1>友達の写真や動画をチェックしよう</h1>
    </div>
  </div>
<% end %>
